.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

env
.env
env.d.ts

temp*

tpa-*-credentials*
auth-*-credentials*
credentials/
credentials.zip
tokens/*
UCI_Credit_Card.csv
credentials*
localhost.crt
localhost.key
